<h1>Upload Documents</h1>
<h1>{{user._id}}</h1>
<form action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
    <label for="profile">Profile (JPEG, PNG OR JPG FORMAT)</label>
    <input type="file" name="profile" accept="image/jpeg, image/png, image/jpg" required>
    <br>
    <label for="product">Products (JPEG, PNG OR JPG FORMAT)</label>
    <input type="file" name="product" accept="image/jpeg, image/png, image/jpg" required>
    <br>
    <label for="dni">DNI (JPEG, PNG, JPG OR PDF FORMAT)</label>
    <input type="file" name="dni" accept="image/jpeg, image/png, image/jpg, application/pdf" multiple required>
    <br>
    <label for="state">Account state (JPEG, PNG, JPG OR PDF FORMAT)</label>
    <input type="file" name="state" accept="image/jpeg, image/png, image/jpg, application/pdf" multiple required>
    <br>
    <label for="address">Home Address validation (JPEG, PNG, JPG OR PDF FORMAT)</label>
    <input type="file" name="address" accept="image/jpeg, image/png, image/jpg, application/pdf" multiple required>
    
    {{!-- <button type="button" onclick="addDocumentInput()">Add Document</button> --}}
    <br>
    <button type="submit" class="btn btn-danger">Send data!</button>
</form>

<script>
    function addDocumentInput() {
        const documentInputs = document.getElementById('dni'); // Change to the desired div ID
        const newInput = document.createElement('input');
        newInput.type = 'file';
        newInput.name = 'documents';
        newInput.multiple = true;
        documentInputs.appendChild(newInput);
    }
</script>
